/.DS_Store
# Logs
logs
*.log
Web/npm-debug.log*
Web/yarn-debug.log*
Web/yarn-error.log*
Web/pnpm-debug.log*
Web/lerna-debug.log*

Web/node_modules
Web/dist
Web/dist-ssr
Web/*.local

# Editor directories and files
Web/.vscode/*
Web/!.vscode/extensions.json
Web/.idea
Web/.DS_Store
Web/*.suo
Web/*.ntvs*
Web/*.njsproj
Web/*.sln
Web/*.sw?

#Android
android/*.iml
android/.gradle
android/local.properties
android/.idea/caches
android/.idea/libraries
android/.idea/modules.xml
android/.idea/workspace.xml
android/.idea/navEditor.xml
android/.idea/assetWizardSettings.xml
android/.DS_Store
android/build
android/captures
android/.externalNativeBuild
android/.cxx
android/local.properties